#new-way{
   margin-top: 120px;

   .flag__body{
      padding-left: 10%;
      @media(max-width: 960px){
         padding: 0 0 10%;
      }
   }
}

#our-bodies{
   margin-top: 120px;
   .flag__body{
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
}