@import 'base/reset';
@import 'base/mixins';
@import "module/ibg/ibg";

$black: #272A28;
$black-light: #787878;
$black-active: #282828;
$green: #22A660;
$gray: rgba(34, 166, 96, 0.05);

$flag-body-padding: 0;

@import 'layout/layout';

@import 'module/btn/btn';

.select{
   border: none;
   background: transparent;
}

@import 'module/more-btn/more-btn';

.layer{
   @include layer;
}
.relative{
   position: relative;
}

@import 'module/hamburgers/hamburgers';
@import 'module/nav/nav';
@import 'module/header/header';
@import 'module/flag/flag';
@import 'module/flag/flag-custom';
@import 'module/video/video';

@import 'layout/sections/sections';

.title {
   font-family: 'proxima';
   font-size: 42px;
   line-height: 100%;
   color: #22A660;
   margin-bottom: 30px;
   font-weight: bold;
}
.descr {
   color: $black;
   font-family: 'helvetica';
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 20px;
}
.section-title{
   color: $green;
   font-family: 'proxima';
   font-size: 42px;
   margin-bottom: 40px;
   @media(max-width: 920px){
      margin-bottom: 20px;
   }
}

.flex-1{
   flex: 1 0;
}

.flex-column{
   display: flex;
   flex-direction: column;
}

.c-green{
   color: $green;
}

.tt-uppercase{
   text-transform: uppercase;
}
.zin-500{z-index: 500;}

@import 'module/img-row-set/img-row-set';
@import 'module/fl/fl';
@import 'module/feature/feature';
@import 'module/link/link';
@import 'module/subscribe/subscribe';
@import 'module/card/card';
@import 'module/ending-block/ending-block';
@import 'module/list/list';
@import 'module/mailing-bar/mailing-bar';
@import 'module/socials/socials';
@import 'module/has-wave/has-wave';



