.link{
   width: max-content;
   display: flex;
   color: #292929;
   text-transform: uppercase;
   font-family: 'proxima';
   font-weight: bold;
   transition: 0.3s;
   flex-wrap: nowrap;
   position: relative;
   @media(max-width: 450px){
      width: 100%;
   }

   .icon{
      font-size: 12px;
      align-self: center;
      transition: 0.3s;
      position: relative;
      margin-left: 10px;
      right: 0;
      flex-shrink: 0;
   }

   &:hover{
      text-shadow: 0 1px 2px rgba(32,205,82,.75);
      .icon{
         right: -5px;
         text-shadow: none;
      }
   }
}