@import 'base/reset';
@import 'base/mixins';

$black: #272A28;
$black-light: #787878;
$black-active: #282828;
$green: #22A660;
$gray: rgba(34, 166, 96, 0.05);

.glob-wrap{
   display: flex;
   align-items: center;
   flex-direction: column;
}

$cont-mx-w: 1190px;
.container{
   max-width: $cont-mx-w;
   width: 100%;
   margin: 0 35px;
}

@import 'module/btn/btn';

.select{
   border: none;
   background: transparent;
}

@import 'module/hamburgers/hamburgers';
@import 'module/nav/nav';
@import 'module/header/header';
