@import 'base/reset';
@import 'base/mixins';
@import "module/ibg/ibg";

$black: #272A28;
$black-light: #787878;
$black-active: #282828;
$green: #22A660;
$gray: rgba(34, 166, 96, 0.05);

$flag-body-padding: 0;

@import 'layout/layout';

@import 'module/btn/btn';

.select{
   border: none;
   background: transparent;
}

.more-btn {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   background: rgba(34, 166, 96, 0.05);
   color: #22A660;
   opacity: 0.75;
   transition: 0.3s;
   padding-right: 35px;
   cursor: pointer;

   // .more-btn__title

   &__title {
      font-family: 'helvetica';
      font-size: 10px;
      text-transform: uppercase;
      margin-right: 17px;
      letter-spacing: 1px;
      @media(max-width: 756px){
         font-size: 3.5vw;
         letter-spacing: 5px;
      }
   }

   // .more-btn__icon

   &__icon {
      @media(max-width: 756px){
         font-size: 6vw;
      }
   }
}

.layer{
   @include layer;
}
.relative{
   position: relative;
}

@import 'module/hamburgers/hamburgers';
@import 'module/nav/nav';
@import 'module/header/header';
@import 'module/flag/flag';
@import 'module/flag/flag-custom';
@import 'module/video/video';

@import 'layout/sections/sections';

.title {
   font-family: 'proxima';
   font-size: 42px;
   line-height: 100%;
   color: #22A660;
   margin-bottom: 30px;
   font-weight: bold;
}
.descr {
   color: $black;
   font-family: 'helvetica';
   font-size: 16px;
   line-height: 24px;
   margin-bottom: 20px;
}

.flex-1{
   flex: 1 0;
}

.flex-column{
   display: flex;
   flex-direction: column;
}

.w-100{width: 100%;}

@import 'module/img-row-set/img-row-set';

